html { 
	height:130%;
}

body { 
	font-family: Georgia, serif;
	font-size: 100% ;
	background-image: linear-gradient(to bottom right, #ffd1f8, #ebc0ca, #ff6689, #86e3f0, #c0f5fc);
} 

form {
	float: right;
}

#get_connected {
	float: right;
}

#get_connected_section img {
	margin: 10px;
}

nav {
	color: #000000;
	list-style: none;
	float: right;
	padding: 20px 0 20px 0;
	display: inline;
}

li {
	display: inline;
	padding: 0 25px 0 25px;
}


footer { 
	font-size: 50%;
}