html { height:160%;
}

body { font-family: Georgia, serif;
font-size: 100% ;
background-image: linear-gradient(to bottom right, #fae6ee, #ebc0ca, #d65472, #86e3f0, #c0f5fc);
} 




footer { font-size: 50%;
}