html { 
	height:160%;
}

body { 
	font-family: Georgia, serif;
	font-size: 100% ;
	background-image: linear-gradient(to bottom right, #fae6ee, #ebc0ca, #ff6689, #86e3f0, #c0f5fc);
} 

nav {
	background-image: linear-gradient(to bottom right, #ffb730, #fff82e, #c1ff6b, #ffffff);
	color: #000000;
	list-style: none;
	text-align: right;
	padding: 20px 0 20px 0;
	display: inline;
}

#logo {
	float: left;
}

li {
	display: inline;
	padding: 0 25px 0 25px;
}

footer { 
	font-size: 50%;
}